.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}

.container {
  flex-wrap: wrap;
  display: flex;
  margin: 10% auto;
  text-align: center;
}

.weatherApp {
  margin: 10px;
  color: gray;
}

.weatherApp > p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.weatherApp > img {
  width: 70px;
  height: 70px;
}

.weatherApp > span {
  margin-left: 10px;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}

.min {
  color: black;
}
