body {
  background-color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
}

.container {
  flex-wrap: wrap;
  display: flex;
  margin: 10% auto;
  text-align: center;
  justify-content: space-around;
}

.weatherApp {
  margin: 10px;
  color: gray;
}

.weatherApp:hover {
  border: 1px solid rgb(217, 215, 215);
  background-color: rgb(240, 237, 237);
}

.weatherApp > p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.weatherApp > img {
  width: 70px;
  height: 70px;
}

.weatherApp > span {
  margin: 0 10px 0 10px;
  text-align: center;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}

.weatherDays {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

.weatherDays > div {
  margin: 10px 25px 10px 25px;
  text-align: center;
}

.weatherDays > div > img {
  margin: 0 0 5px 0;
  width: 30px;
  height: 30px;
}

.weatherDays > div > p {
  margin-top: 0px;
  font-size: 12px;
}

.max {
  color: black;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 50vh;
  width: 100vw;
}

@media (min-width: 600px) {
  .chart-container {
    width: 40vw;
  }
}
